<%= form_with(model: [@client, session], local: true, class: "inline") do |form| %>
  <%= hidden_field_tag :source, params[:source] %>
  <%= render "partials/show_form_errors", object: session %>

  <div class="flex flex-row gap-4">
    <fieldset class="fieldset basis-1/5">
      <legend class="fieldset-legend"><%= form.label :date %></legend>
      <%= form.date_field :date, autofocus: true, class: ["input", {"input-error": session.errors[:date].any?}] %>
    </fieldset>
    <fieldset class="fieldset basis-1/5">
      <legend class="fieldset-legend"><%= form.label :duration %></legend>
      <%= form.number_field :duration, value: "1", step: 0.5, min: 0, class: ["input", {"input-error": session.errors[:duration].any?}] %>
    </fieldset>
    <fieldset class="fieldset basis-1/5">
      <legend class="fieldset-legend"><%= form.label :paid %></legend>
      <%= form.check_box :paid, checked: "checked", class: ["checkbox", {"input-error": session.errors[:paid].any?}] %>
    </fieldset>
    <fieldset class="fieldset basis-1/5">
      <legend class="fieldset-legend"><%= form.label :group %></legend>
      <%= form.check_box :group, class: ["checkbox", {"input-error": session.errors[:group].any?}] %>
    </fieldset>
    <fieldset class="fieldset basis-1/5">
      <legend class="fieldset-legend"><%= form.label :group_size %></legend>
      <%= form.number_field :group_size, class: ["input", {"input-error": session.errors[:group_size].any?}] %>
    </fieldset>
  </div>

  <div class="flex flex-row gap-4 mb-8">
    <fieldset class="fieldset basis-full">
      <legend class="fieldset-legend"><%= form.label :notes %></legend>
      <%= form.text_area :notes, rows: 8, cols: 80, placeholder: "Notes", class: "textarea w-full" %>
    </fieldset>
  </div>

  <%= form.submit "Save", class: "btn btn-primary" %>
<% end %>
