<main class="container mx-auto px-5">
  <h1 class="text-2xl font-bold mb-4 sm:mb-0">AdminLand</h1>
    <p class="my-4">Registered users: <%= @users.count %></p>
    <div class="hidden md:grid  md:grid-cols-4 bg-gray-100 font-bold p-3 rounded-t-lg">
      <div>Email</div>
      <div>Clients</div>
      <div>Sessions</div>
      <div>Actions</div>
    </div>
    <div class="divide-y divide-gray-200">
    <% for user in @users do %>
      <div class="grid grid-cols-1 md:grid-cols-4 md:gap-8 p-3 hover:bg-gray-50">
        <div class="md:hidden space-y-2">
          <div class="grid grid-cols-2 gap-4">
            <span class="font-bold">Email:</span>
            <span><%= user.email %></span>
          </div>
          <div class="grid grid-cols-2 gap-4">
            <span class="font-bold">Clients:</span>
            <span><%= user.clients.count %></span>
          </div>
          <div class="grid grid-cols-2 gap-4">
            <span class="font-bold">Sessions:</span>
            <span><%= user.sessions.count %></span>
          </div>
          <div class="grid grid-cols-2 gap-4">
          <span class="font-bold">Actions:</span>
          <span>
            <%= button_to registration_path(user), method: :delete, class: "float-right rounded-md bg-red-500 px-3 py-2 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-400 inline-block", form: { data: { turbo_confirm: 'Are you sure you want to delete this user?' } } do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-5 w-5 inline">
                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
              </svg>
              Delete
            <% end %>
          </span>
          </div>
        </div>
        <!-- Desktop View -->
        <div class="hidden md:block"><%= user.email %></div>
        <div class="hidden md:block"><%= user.clients.count %></div>
        <div class="hidden md:block"><%= user.sessions.count %></div>
        <div class="hidden md:block">
          <%= button_to registration_path(user), method: :delete, class: "float-right rounded-md bg-red-500 px-3 py-2 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-400 inline-block", form: { data: { turbo_confirm: 'Are you sure you want to delete this user?' } } do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-5 w-5 inline">
                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
            </svg>
            Delete
        <% end %>
        </div>
      </div>
    <% end %>
    </div>
</main>