<div>
  <h1 class="font-bold text-4xl">Find a Coach</h1>
  <p>Vízia:</p>
  <ul>
    <li>
      - Sústredenie sa na koučing a podpora na efektívne lekcie<br/>
      - Prehľad o klientoch<br/>
      - jednoduchá evidencia klientov pre kouča<br/>
      - Najčastejšie nástoje kouča<br/>
      - zoznam koučov<br/>
      - Nájdi si svojho kouča<br/>
      - DB koučov s kontaktom i referencemi
    </li>
    <a href="https://github.com/users/valasek/projects/2/views/1?layout=board" class="underline underline-offset-2 decoration-sky-500/80">Roadmap</a>
    <br/><br/>
    <b>App statistics:</b><br/>
    Clients total: <%= @clients_count %><br/>
    - active: <%= @clients_unarchived %><br/>
    - archived: <%= @clients_archived %><br/>
    <br/>
    Users: <%= @users.count %><br/>
    <% @users.each do |user| %>
      <%= user.email %>, active: <%= user.clients.filter_by_archive_status("unarchived").count %>, archived:<%= user.clients.filter_by_archive_status("archived").count %><br/>
    <% end %>
</div>
