<div id="<%= dom_id client %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= client.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= client.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= client.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= client.phone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= client.notes %>
  </div>
</div>
