<!-- Client Card -->
<div class="relative bg-white rounded-lg shadow-md overflow-hidden">
    <div class="p-4">
        <h2 class="text-xl font-semibold mb-2"><%= client.name %></h2>
        <div class="grid grid-cols-[auto_1fr] gap-y-1 text-sm mb-2">
            <span class="text-sm font-medium text-gray-500">Email:</span>
            <%= mail_to client.email, class: "text-sm text-gray-900 ml-1 underline underline-offset-2 decoration-sky-500/80" %>
            <span class="text-sm font-medium text-gray-500">Phone:</span>
            <span class="text-sm text-gray-900 ml-1"><%= client.phone %></span>
        </div>
        <div class="absolute inset-x-3 bottom-4">
            <%= link_to edit_client_path(client), class: "rounded-md bg-indigo-600 mr-1 py-2 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="h-5 w-5 inline" viewBox="0 0 25 25" stroke="currentColor" >
                    <path d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                </svg>
                Edit
            <% end %>
            <%= link_to client_path(client), class: "rounded-md bg-indigo-600 mr-1 py-2 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 inline" >
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
                <span class="">Details</span>
            <% end %>
        </div>
    </div>
</div>
<!-- End of client card -->
