<div id="<%= dom_id client %>">

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= client.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= client.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= client.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Company:</strong>
    <%= client.company %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Position:</strong>
    <%= client.position %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Hours ordered:</strong>
    <%= client.hours_ordered %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Hours delivered:</strong>
    <%= client.hours_delivered %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Coaching goal:</strong>
    <%= client.coaching_goal %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Archived:</strong>
    <%= client.archived %>
  </p>

</div>
