<div class="w-full">
  <% content_for :title, "Clients" %>
  <div class="container mx-auto px-4 ">
    <!-- Header -->
    <header class="mb-6 flex flex-col sm:flex-row justify-between items-start sm:items-center">
        <div class="flex items-center">
            <h1 class="text-2xl font-bold mb-4 sm:mb-0">
                Your Clients
            </h1>
            <span
                class="ml-2 inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
                Total: <%=  @clients_count %>
            </span>
        </div>
        <div class="flex items-center space-x-4 mt-4 sm:mt-0">
            <%= form_with url: clients_path, method: :get, class: "flex-grow", data: { controller: "search-client", turbo_frame: "clients-list" } do |f| %>
                <%= f.text_field :query,
                                value: params[:query],
                                placeholder: "Search by name or email...",
                                class: "w-full shadow rounded-md border border-gray-400 py-1.5 px-3 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6 mr-4",
                                data: {
                                    action: "input->search-client#search",
                                    search_client_target: "input"
                                } %>
            <% end %>
            <%= link_to new_client_path, class: "flex-shrink-0 rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 inline">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                New
            <% end %>
        </div>
    </header>
    <!-- Client Cards -->
    <%= turbo_frame_tag "clients-list" do %>
        <div class="space-y-2">
            <% @clients.each do |client| %>
                <%= render "client_card", client: client %>
            <% end %>
        </div>
        <!-- End of Client Cards -->
        <%= paginate @clients %>
    <% end %>
</div>
