<div class="min-h-screen flex items-center justify-center">
  <div class="max-w-md w-full">
  
    <h2 class="pb-8">Sign in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), ) do |f| %>
        <div class="grid gap-4">
          <div>
            <%= f.label :email, class: "input" do %>
              <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g
                  stroke-linejoin="round"
                  stroke-linecap="round"
                  stroke-width="2.5"
                  fill="none"
                  stroke="currentColor"
                >
                  <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                  <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                </g>
              </svg>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "mail@site.com", class: "input" %>
            <% end %>
          </div>

          <div>
            <%= f.label :password, class: "input" do %>
              <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g
                  stroke-linejoin="round"
                  stroke-linecap="round"
                  stroke-width="2.5"
                  fill="none"
                  stroke="currentColor"
                >
                  <path
                    d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z"
                  ></path>
                  <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
                </g>
              </svg>
              <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "input" %>
            <% end %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="label">
              <%= f.check_box :remember_me, class: "checkbox" %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div>
            <%= f.submit "Sign in", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

  </div>
</div>
