<footer class="footer footer-center p-4 bg-base-100 text-base-content border-t border-primary">
    <div class="grid grid-flow-row gap-4">
        <div>
            <%= image_tag ("favicon.ico"), class: "h-8 w-auto inline", alt: "Find a Coach", loading: "lazy" %>
            <p class="font-bold inline">Find a Coach</p>
        </div>
        <div>
            Designed, built, and backed with ♡ in
            <a href="https://www.lonelyplanet.com/slovakia" class="link">
            Slovakia
            </a>
            by <a href="https://stanislavvalasek.com/en/" class="link">Stanislav Valasek</a>.
            Enjoy the rest of your <%= Date.today.strftime("%A") %>!
        </div>
        <div>
            <%= link_to "What's New", whatsnew_path, class: "link" %> / 
            <%= link_to "Security", security_path, class: "link" %>
        </div>
        <div class="text-xs text-opacity-60">Version: <%= APP_VERSION %></div>
    </div>
</footer>
