<div class="navbar bg-base-100 ">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a>Dashboard</a></li>
        <li><a>Clients</a></li>
      </ul>
    </div>
    <%= link_to "/" do%>
      <%= image_tag "favicon.ico", class: "inline" %>
    <% end %>
    <%= link_to "Find a Coach", "/", class: "hover:underline px-2 text-xl" %>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <% if user_signed_in? %>
      <li><a>Dashboard</a></li>
      <li><a>Clients</a></li>
      <% end %>
    </ul>
  </div>
  <div class="navbar-end flex gap-2">
    <% if user_signed_in? %>
    <a class="btn btn-outline btn-primary">Add Session</a>
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li>
          <a class="justify-between">
            Profile
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
    <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-outline mr-4" %>
    <%= link_to "Sign up free", new_user_registration_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
